@using LanguageSchoolApp.Models.Courses
@model CourseByIdViewModel

@{
    ViewBag.Title = @Model.Title;
}

<h1>@Model.Title</h1>
<hr />
<section class="row">
    <aside class="well well-sm pull-left col-md-2">
        <p><strong>Starts on: </strong>@Html.DisplayFor(x => Model.StartsOn)</p>
        <p><strong>Ends on: </strong>@Html.DisplayFor(x => Model.EndsOn)</p>
        <p><strong>Enrolled students: </strong>@Model.EnrolledStudentsCount</p>
    </aside>
    <div class="col-md-10">
        <p class="lead">@Model.Description</p>
        @if (Model.IsCurrentUserEnrolled)
        {
            <div class="well well-sm text-center">You are enrolled in this course.</div>
        }
        else
        {
            @*@Ajax.ActionLink(
               "Enroll",
               "EnrollStudentInCourse",
               "Courses",
               new { courseId = Model.CourseId },
               new AjaxOptions()
               {
                   HttpMethod = "POST"
               },
               new { @class = "btn btn-primary btn-block" })*@
            @Html.ActionLink("Enroll", "EnrollStudentInCourse", "Courses", new { id = Model.CourseId }, new { @class = "btn btn-primary btn-block" })
            @*<a class="btn btn-primary btn-block" href="/courses/enrollstudentincourse/@Model.CourseId">Enroll</a>*@
        }
    </div>
</section>
