@using LanguageSchoolApp.Areas.Administration.Models.Courses
@model CoursesAdminViewModel

<h1>Courses administration</h1>
<hr />
<div class="table-responsive">
    <table id="coursesTable" class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Starts On</th>
                <th>Ends On</th>
                <th>Id</th>
                <th>IsDeleted</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@Html.DisplayFor(x => course.Title)</td>
                    <td>@Html.DisplayFor(x => course.Description)</td>
                    <td>@Html.DisplayFor(x => course.StartsOn)</td>
                    <td>@Html.DisplayFor(x => course.EndsOn)</td>
                    <td>@Html.DisplayFor(x => course.Id)</td>
                    <td>@Html.CheckBoxFor(x => course.IsDeleted)</td>

                    @*<td>@Html.EditorFor(x => course.Title)</td>
                    <td>@Html.TextAreaFor(x => course.Description)</td>
                    <td>@Html.EditorFor(x => course.StartsOn)</td>
                    <td>@Html.EditorFor(x => course.EndsOn)</td>
                    <td>@Html.EditorFor(x => course.Id)</td>
                    <td>@Html.CheckBoxFor(x => course.IsDeleted)</td>*@

                    @*@{
                            string adLink = $"/device/{deviceType}/{computer.Id}";
                            string editLink = $"/device/update{deviceType}/{computer.Id}";
                        }*@

                    @*<td>
                            <a class="btn btn-default" target="_blank" href="#">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-primary" target="_blank" href="#">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>*@


                        @*@Ajax.ActionLink("X", "Index", "AdminPanel",
                            new { type = deviceType, id = computer.Id },
                            new AjaxOptions { HttpMethod = "POST" },
                            new { @class = "btn btn-danger" })*@
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#coursesTable').dataTable({ "paging": true });
        });
        //$(".btn-danger").on('click', (event) => {
        //    let el = $(event.target);
        //    el.parent().parent().remove();
        //});

        //$('#refreshButton').on('click', () => {
        //    let url = '/administration/adminpanel/computers';
        //    content.load(url);
        //})
    </script>
}