@using LanguageSchoolApp.Models.Courses
@model CourseViewModel

<article class="panel panel-primary">
    <h3 class="panel-heading">
        @Model.Title
    </h3>
    <div class="panel-body">
        @Model.Description
        <div>
            <a href="/courses/@Model.CourseId" class="btn btn-primary btn-sm">Go to course &raquo;</a>
        </div>
    </div>
    <div class="panel-footer">
        <span>Duration: @Html.DisplayFor(x => Model.StartsOn) - @Html.DisplayFor(x => Model.EndsOn)</span>
        <span class="pull-right">
            Enrolled students <span class="badge">@Model.EnrolledStudentsCount</span>
        </span>
    </div>
</article>