@using LanguageSchoolApp.Areas.Administration.Models.Courses
@model CourseEditViewModel

@using (Ajax.BeginForm("UpdateCourse", "CoursesAdmin", new AjaxOptions { HttpMethod = "POST" }))
{
    <td>@Html.EditorFor(x => Model.Title)</td>
    <td>@Html.TextAreaFor(x => Model.Description)</td>
    <td>@Html.EditorFor(x => Model.StartsOn)</td>
    <td>@Html.EditorFor(x => Model.EndsOn)</td>
    <td>@Html.EditorFor(x => Model.CourseId)</td>
    <td>@Html.CheckBoxFor(x => Model.IsDeleted)</td>
    <td>
        <input class="btn btn-sm btn-primary" type="submit" value="Save">
    </td>
}